*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  border: 0;
  padding: 0;
  margin: 0;
  font-family: Lucida Grande;
  font-weight: bold;
  font-size : 9px;

  -webkit-font-smoothing: antialiased;

}

html.windows,
body.windows {
  font-family: Tahoma;
}

body.darker,
body.dark {
  color: #f0f0f0;
}


p {
  cursor: default;
  margin: 0;
  padding: 0;
}

a {
  font-size: 10px;
}


#content {
  margin-right:auto;
  margin-left:auto;
  vertical-align:middle;
  width:100%;
  height: 100%;
}

#validation {
  height: 100%;
}

#title-container {
  overflow: hidden;
}

#validation-container {
  height: calc(100% - 52px);
}

#message-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  background: #464646;
}

#footer-container {
}

#console {
  font-size: 9px;
}

.message {
  display: block;
  border-bottom: 1px solid #383838;
  background: #535353;
}

body.darker .message,
body.dark .message {
  border-bottom-color: #383838;
}

body.lighter .message,
body.light .message {
  border-bottom-color: #222222;
}

.message-wrapper {
  font-size: 12px;
  padding: 5px;
}

.message-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.message-hint {
  margin: 0;
  font-size: 10px;
}

body.darker .message-hint,
body.dark .message-hint {
    color: #888888;
}

body.lighter .message-hint {
    color: #4f4f4f;
}

body.light .message-hint {
    color: #404040;
}


.panel-hd {
  padding:5px 0 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:12px;
}

.panel-header {
  border-bottom: 1px solid #383838;
}

#footer-container {
  border-top: 1px solid #383838;
  min-height: 26px;
}

body.darker .panel-header,
body.dark .panel-header {
    color: #c0c0c0;
}


body.lighter .panel-header,
body.light .panel-header {
    color: #010101;
}


.icon {
  vertical-align: text-top
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}
