*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  border: 0;
  padding: 0;
  margin: 0;
  font-family: Lucida Grande;
  font-weight: bold;
  font-size : 9px;

  -webkit-font-smoothing: antialiased;

}

html.windows,
body.windows {
  font-family: Tahoma;
}

body.darker,
body.dark {
  color: #f0f0f0;
}


p {
  cursor: default;
  margin: 0;
  padding: 0;
}

a {
  font-size: 10px;
}

hr {
  border: dashed 1px rgba(255,255,255, .5);
  border-bottom: 0;
  margin: 20px
}


#content {
  margin-right:auto;
  margin-left:auto;
  vertical-align:middle;
  width:100%;
  height: 100%;
}

#validation {
  height: 100%;
}

#title-container {
  overflow: hidden;
}

#validation-container,
#config-container {
  height: calc(100% - 52px);
}

#config-container {
  display: none;
  position: absolute;
  top:28px;
  left:0;
  width: 100%;
}

#message-list,
#config-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  background: #464646;
}

#footer-container {
}

#console {
  font-size: 9px;
}


table {
  border-collapse: collapse;
  border: solid 1px #666;
  width: 80%;
  margin: 1rem auto;
}

caption {
  padding-bottom: .5rem
}

th, td {
  border-bottom: solid 1px #666;
  padding: .3rem;
}

th {
  border-right: dotted 1px #666;
  width: 60%;
  background-color: rgba(0,0,0,0.1);
}

dl {
  margin: 1rem auto;
  width: 80%;
  border: solid 1px #333;
  background-color: rgba(0,0,0,0.1);
}

dt{
  padding: .2rem .5rem;
  margin: 0;
  background-color: rgba(0,0,0,0.2);
}
dd {
  margin-left: .5rem;
  padding: .2rem .5rem;
}

.message {
  display: block;
  border-bottom: 1px solid #383838;
  background: #535353;
}

body.darker .message,
body.dark .message {
  border-bottom-color: #383838;
}

body.lighter .message,
body.light .message {
  border-bottom-color: #222222;
}

.message-wrapper {
  font-size: 12px;
  padding: 5px;
}

.message-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.message-hint {
  margin: 0;
  font-size: 10px;
}

.validation-info {
  padding: 2rem;
  text-align: center;
  font-size: 10px;
  color: #999;
}

/* 計測時間 */
.time {
  margin-right: 2em;
  background: #333;
  color: #fff;
  padding: .3rem .5rem;
  border-radius: .3rem;
}

/* レベルカラーリング */
.lv1 {
  color: aliceblue;
}
.lv2 {
  color: #acffec
}
.lv3 {
  color: #d5ff8b;
}
.lv4 {
  color: #f8ff8b
}
.lv5 {
  color: #ffd16e
}
.lv7 {
  color: #ff7145
}
.lv8 {
  background: red;
  color: #fff;
}

body.darker .message-hint,
body.dark .message-hint {
    color: #888888;
}

body.lighter .message-hint {
    color: #4f4f4f;
}

body.light .message-hint {
    color: #404040;
}


.panel-hd {
  padding:5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:12px;
}

.panel-header {
  border-bottom: 1px solid #383838;
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.btn-check,
.btn-config {
  font-size: 10px;
}

#footer-container {
  border-top: 1px solid #383838;
  min-height: 26px;
}

body.darker .panel-header,
body.dark .panel-header {
    color: #c0c0c0;
}


body.lighter .panel-header,
body.light .panel-header {
    color: #010101;
}


.icon {
  vertical-align: text-top
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}
